<div class="row">
    <div class="col-sm-2" *ngFor="let photo of photos">
        <h4>{{photo.username | titlecase}}</h4>
        <img src="{{photo.url}}" alt="{{photo.username}}" class="img-thumbnail p-1">
        <div class="text-center">
            <button class="btn btn-success btn-sm" (click)="approvePhoto(photo.id)">Approve</button>
        </div>
        <div class="text-center">
            <button class="btn btn-danger btn-sm" (click)="rejectPhoto(photo.id)">Reject</button>
        </div>
    </div>
</div>
